.commonHeader{
    text-align: center;
    background: rgba(217,0,59,1);
    line-height: 42px;
    height: 42px;
    width: 100%;
    color: white;
    /* border-top: 1px solid rgba(255,0,69,1); */
    border-bottom: 1px solid rgba(174,0,47,1);
    top: 0px;
    z-index: 2;
    box-shadow: 3px -7px 10px 8px rgba(0, 0, 0, 0.49);
}