/* You can add global styles to this file, and also import other style files */

.mainContent{
    font-family: "Roboto", Verdana, sans-serif !important;
    font-size: 14px !important;
    color: #191919;
    text-shadow: none;
    background: rgba(249,247,244,1);
    background-repeat: no-repeat;
    box-shadow: 4px 10px 10px 7px rgba(0, 0, 0, 0.49);
    /* width: 100%; */
    /* margin-left: 12%; */
    min-height: 630px; 
    overflow-x: hidden;
     padding-right: 0px;
    /*margin-top: 42px;*/
}

@media (min-device-width: 500px) and (max-device-width: 1366px){

    .mainContent{
    padding-left: 0px;
    };
}